<section class="w-full p-3">
  <h1>Админ панель</h1>
  <div class="w-12 flex">
    <div class="w-6 p-3">
      <a [routerLink]="'topic'" class="no-underline">
        <p-fieldset legend="Разделы">
          <p>Настройка разделов документации</p>
        </p-fieldset>
      </a>
    </div>
    <div class="w-6 p-3">
      <a [routerLink]="'chapters'" class="no-underline">
        <p-fieldset legend="Статьи">
          <p>Настройка разделов документации</p>
        </p-fieldset>
      </a>
    </div>
  </div>
</section>
