nav {
  border-right: 1px solid var(--surface-900);
  height: calc(100vh - 80px);
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  ul {
    list-style: none;
    width: 210px;
    max-width: 210px;

    li {
      padding: 1rem;
      border-bottom: 1px solid var(--surface-900);
      cursor: pointer;

      &:hover {
        color: var(--surface-0);
        background: var(--surface-900);
      }
    }
  }
}
